# Data files (DO NOT PUSH LARGE DATA)
data/processed/
data/raw/
data/sample/

# Models
models/*.pkl

# MLflow
mlruns/

# Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db